:root {
  --dark-gray: hsl(0, 0%, 59%);
  --very-dark-gray: hsl(0, 0%, 17%);
  font-family: Rubik, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

.fixed-bg {
  position: relative;
  min-height: 17rem;
  background-image: url('../images/pattern-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover; 
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  padding: 1rem;
  color: #fff;
  font-weight: 500;
}

#search-form {
  width: min(80%, 28rem);
  background: #fff;
  border-radius: 0.5rem;
  display: flex;
  overflow: hidden;
}

#search-form:has(input:focus) {
  border: 2px solid var(--very-dark-gray);
}

#search-input {
  width: 85%;
  padding: 1rem;
  border: none;
  font-size: 1.2rem;
  font-family: Rubik,sans-serif;
}

#search-input::placeholder {
  color: var(--dark-gray);
  font-size: 1rem;
}

#search-input:focus {
  outline: none;
}

#search-form > button {
  width: 15%;
  background-color: #000;
  border: none;
}

#ip-info {
  padding: 1.5rem 2rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  z-index: 1;
  width: min(80%, 25rem);
  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 0.8rem;
  text-align: center;
  box-shadow: 0 0.2rem 2rem 0.3rem rgba(0, 0, 0, 0.1);
}

#ip-info h5{
  color: var(--dark-gray)
}

#ip-info p {
  color: var(--very-dark-gray);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.2rem 0;
}

#map {
  height: 60vh;
  z-index: 0;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(min-width: 903px){
  .fixed-bg {
    min-height: 13rem;
    background-image: url('../images/pattern-bg-desktop.png');
  }
  
  #ip-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    top: 70%;
    min-width: 50rem;
  }
  
  #ip-info > section:not(:last-of-type) {
    border-right: 0.01px solid var(--dark-gray);
  }
}